<project name="UnitreePatent" ID="16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/_data/16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/_data/16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/_data/16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/_data/16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="file:/home/zech/Docear/projects/UnitreePatent//literature_repository"/>
</folder>
<link type="references" name="References" path="project://16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/_data/16CEB3C8FECEMUND9JYEPDJEZLTKHPH0XWHQ/default_files/UnitreePatent.bib" system="true"/>
</project>
